__pycache__/
*.py[cod]
venv/
Lazy-ADB*.md

resources/platform-tools/linux/*
!resources/platform-tools/linux/.gitkeep
resources/platform-tools/windows/*
!resources/platform-tools/windows/.gitkeep

output/*
!output/.gitkeep
!output/captures/
!output/exports/
output/captures/*
!output/captures/.gitkeep
output/exports/*
!output/exports/.gitkeep
